<div data-turbolinks="false">
<h1>Checkout</h1>
  <div class="row">
    <div class="col-md-9">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#addressPanel" aria-expanded="false" aria-controls="collapseOne">
                Address
              </a>
            </h4>
          </div>
          <div id="addressPanel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              3 Cotter Riggs Walk<br>
              Chapel House<br>
              Newcastle upon Tyne<br>
              NE5 1HH
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#deliveryPanel" aria-expanded="false" aria-controls="collapseOne">
                Delivery
              </a>
            </h4>
          </div>
          <div id="deliveryPanel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              Free Delivery
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#paymentPanel" aria-expanded="true" aria-controls="collapseOne">
                Payment
              </a>
            </h4>
          </div>
          <div id="paymentPanel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">



              <%= form_tag checkout_index_path, id: "payment-form" do %>
                <% unless @cards.nil? %>
                  <div class="form-row" id="existing_card_payment">
                    <div class="form-group">
                      <label for="cards">My Cards</label>
                      <select name="cards" id="card_select" class="form-control">
                        <option value="">Select a Card</option>
                        <% @cards.each do |card| %>
                          <option value="<%= card.id %>">
                            **** **** **** <%= card.last4 %> Exp: <%= card.exp_month %>/<%= card.exp_year %>
                          </option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                <% end %>

                <input type="hidden" id="stripe_pub_key" value="<%= ENV['STRIPE_TEST_PUBLISHABLE_KEY'] %>">
                <div class="form-row" id="new_card_payment">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-5">
                        <input type="text" class="form-control" name="card_name" id="card_name" placeholder="Name on Card" required="true">
                      </div>
                      <div class="col-md-7">

                        <div id="card-element" class="form-control">
                          <!-- A Stripe Element will be inserted here. -->
                        </div>

                      </div>
                    </div>
                    <div class="col-md-12">

                    </div>

                    <!-- Used to display form errors. -->
                    <div id="card-errors" role="alert"></div>
                  </div>
                </div>


                <div class="form-row">
                  <button class="btn btn-primary">Pay</button>
                </div>
              <% end %>
              <hr>
              <div class="form-row row">
                <div class="col-md-6">
                  <div id="payment-request-button">

                  </div>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">

      <div class="panel panel-default">
        <div class="panel-body">
          <p>Basket Preview</p>
          <ul>
            <li>Goes</li>
            <li>Here</li>
            <li>in</li>
            <li>this</li>
            <li>side</li>
            <li>panel</li>
          </ul>
        </div>
        <div class="panel-footer">Total: £25.99</div>
      </div>

      <h3></h3>
    </div>
  </div>
</div>