<h1>Update Card Info</h1>
<%= form_for @card, url: card_path(@card_info.id), method: :put, html: { id: "edit-payment-form" } do |f| %>
  <input type="hidden" id="stripe_pub_key" value="<%= ENV['STRIPE_TEST_PUBLISHABLE_KEY'] %>">
  <div class="row">
    <div class="col-md-12 form-group">
      Payment Method: <i class="fa fa-cc-<%= @card_info.brand.downcase %>"></i> **** **** **** <%= @card_info.last4 %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= f.text_field :card_name, required: true, class: 'form-control', value: @card_info.name %>
    </div>

    <div class="col-md-2">
      <%= f.select :card_expires_month, options_for_select(Card.month_options, @card_info.exp_month),
                   { include_blank: 'Month' }, "data-stripe" => "exp-month",
                     class: "form-control", required: true

      %>
    </div>
    <div class="col-md-2">
      <%= f.select :card_expires_year, options_for_select(Card.year_options, @card_info.exp_year),
                   { include_blank: 'Year' }, "data-stripe" => "exp-year",
                     class: "form-control", required: true
      %>
    </div>

    <div class="col-md-2">
      <button class="btn btn-primary">Update Card</button>
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
  </div>
<% end %>
