<h1>My Cards</h1>
<p><%= link_to 'Register Card', new_card_path, class: 'btn btn-default', data: { turbolinks: false } %></p>
<% unless @cards.nil? %>
<div class="row">
  <div class="col-md-6">
    <% @cards.each do |card| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-cc-<%= card.brand.downcase %>"></i>
        **** **** **** <%= card.last4 %> Exp: <%= card.exp_month %>/<%= card.exp_year %>
        <a class="pull-right" data-toggle="collapse" href="#<%= card.id %>">
          <span class="glyphicon glyphicon-chevron-down pull-right">
        </span>
        </a>
      </div>
      <div id="<%= card.id %>" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-md-5">
            <strong>Name on Card:</strong><br>
            <%= card.name %>
          </div>
          <div class="col-md-7">
            <%= card.inspect %>
          </div>
        </div>
        <div class="panel-footer text-right">
          <%= link_to 'Edit', edit_card_path(card.id), class: 'btn btn-default', data: { turbolinks: false } %>
          <%= link_to 'Delete', card_path(card.id),
                      method: :delete, remote: true,
                      data: { confirm: 'Are you sure you wish to delete this card?' }, class: 'btn btn-default' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<% end %>