<div data-turbolinks="false">
<h1>Register New Card</h1>
<%= form_tag cards_path, id: "payment-form" do %>
    <input type="hidden" id="stripe_pub_key" value="<%= ENV['STRIPE_TEST_PUBLISHABLE_KEY'] %>">
    <div class="form-row row">
      <div class="col-md-4">
        <input type="text" class="form-control" name="card_name" id="card_name" placeholder="Name on Card" required="true">
      </div>
      <div class="col-md-5">

        <div id="card-element" class="form-control">
          <!-- A Stripe Element will be inserted here. -->
        </div>

      </div>
      <div class="col-md-3">
        <button class="btn btn-primary">Add Card</button>
      </div>

      <!-- Used to display form errors. -->
      <div id="card-errors" role="alert"></div>
    </div>
<% end %>
</div>